// 图标的配置文件
// 图标的前缀
$icon-prefix: el-icon !default;
$icon-path: "~@fonts" !default ;

// 图标的定义的before里面的值  fontawesome 的数据
$el-var-500px: \f26e;
$el-var-accessible-icon: \f368;
$el-var-accusoft: \f369;
$el-var-acquisitions-incorporated: \f6af;
$el-var-ad: \f641;
$el-var-address-book: \f2b9;
$el-var-address-card: \f2bb;
$el-var-adjust: \f042;
$el-var-adn: \f170;
$el-var-adobe: \f778;
$el-var-adversal: \f36a;
$el-var-affiliatetheme: \f36b;
$el-var-air-freshener: \f5d0;
$el-var-airbnb: \f834;
$el-var-algolia: \f36c;
$el-var-align-center: \f037;
$el-var-align-justify: \f039;
$el-var-align-left: \f036;
$el-var-align-right: \f038;
$el-var-alipay: \f642;
$el-var-allergies: \f461;
$el-var-amazon: \f270;
$el-var-amazon-pay: \f42c;
$el-var-ambulance: \f0f9;
$el-var-american-sign-language-interpreting: \f2a3;
$el-var-amilia: \f36d;
$el-var-anchor: \f13d;
$el-var-android: \f17b;
$el-var-angellist: \f209;
$el-var-angle-double-down: \f103;
$el-var-angle-double-left: \f100;
$el-var-angle-double-right: \f101;
$el-var-angle-double-up: \f102;
$el-var-angle-down: \f107;
$el-var-angle-left: \f104;
$el-var-angle-right: \f105;
$el-var-angle-up: \f106;
$el-var-angry: \f556;
$el-var-angrycreative: \f36e;
$el-var-angular: \f420;
$el-var-ankh: \f644;
$el-var-app-store: \f36f;
$el-var-app-store-ios: \f370;
$el-var-apper: \f371;
$el-var-apple: \f179;
$el-var-apple-alt: \f5d1;
$el-var-apple-pay: \f415;
$el-var-archive: \f187;
$el-var-archway: \f557;
$el-var-arrow-alt-circle-down: \f358;
$el-var-arrow-alt-circle-left: \f359;
$el-var-arrow-alt-circle-right: \f35a;
$el-var-arrow-alt-circle-up: \f35b;
$el-var-arrow-circle-down: \f0ab;
$el-var-arrow-circle-left: \f0a8;
$el-var-arrow-circle-right: \f0a9;
$el-var-arrow-circle-up: \f0aa;
$el-var-fa-arrow-down: \f063;
$el-var-fa-arrow-left: \f060;
$el-var-fa-arrow-right: \f061;
$el-var-fa-arrow-up: \f062;
$el-var-arrows-alt: \f0b2;
$el-var-arrows-alt-h: \f337;
$el-var-arrows-alt-v: \f338;
$el-var-artstation: \f77a;
$el-var-assistive-listening-systems: \f2a2;
$el-var-asterisk: \f069;
$el-var-asymmetrik: \f372;
$el-var-at: \f1fa;
$el-var-atlas: \f558;
$el-var-atlassian: \f77b;
$el-var-atom: \f5d2;
$el-var-audible: \f373;
$el-var-audio-description: \f29e;
$el-var-autoprefixer: \f41c;
$el-var-avianex: \f374;
$el-var-aviato: \f421;
$el-var-award: \f559;
$el-var-aws: \f375;
$el-var-baby: \f77c;
$el-var-baby-carriage: \f77d;
$el-var-backspace: \f55a;
$el-var-backward: \f04a;
$el-var-bacon: \f7e5;
$el-var-balance-scale: \f24e;
$el-var-balance-scale-left: \f515;
$el-var-balance-scale-right: \f516;
$el-var-ban: \f05e;
$el-var-band-aid: \f462;
$el-var-bandcamp: \f2d5;
$el-var-barcode: \f02a;
$el-var-bars: \f0c9;
$el-var-baseball-ball: \f433;
$el-var-basketball-ball: \f434;
$el-var-bath: \f2cd;
$el-var-battery-empty: \f244;
$el-var-battery-full: \f240;
$el-var-battery-half: \f242;
$el-var-battery-quarter: \f243;
$el-var-battery-three-quarters: \f241;
$el-var-battle-net: \f835;
$el-var-bed: \f236;
$el-var-beer: \f0fc;
$el-var-behance: \f1b4;
$el-var-behance-square: \f1b5;
$el-var-fa-bell: \f0f3;
$el-var-bell-slash: \f1f6;
$el-var-bezier-curve: \f55b;
$el-var-bible: \f647;
$el-var-bicycle: \f206;
$el-var-biking: \f84a;
$el-var-bimobject: \f378;
$el-var-binoculars: \f1e5;
$el-var-biohazard: \f780;
$el-var-birthday-cake: \f1fd;
$el-var-bitbucket: \f171;
$el-var-bitcoin: \f379;
$el-var-bity: \f37a;
$el-var-black-tie: \f27e;
$el-var-blackberry: \f37b;
$el-var-blender: \f517;
$el-var-blender-phone: \f6b6;
$el-var-blind: \f29d;
$el-var-blog: \f781;
$el-var-blogger: \f37c;
$el-var-blogger-b: \f37d;
$el-var-bluetooth: \f293;
$el-var-bluetooth-b: \f294;
$el-var-bold: \f032;
$el-var-bolt: \f0e7;
$el-var-bomb: \f1e2;
$el-var-bone: \f5d7;
$el-var-bong: \f55c;
$el-var-book: \f02d;
$el-var-book-dead: \f6b7;
$el-var-book-medical: \f7e6;
$el-var-book-open: \f518;
$el-var-book-reader: \f5da;
$el-var-bookmark: \f02e;
$el-var-bootstrap: \f836;
$el-var-border-all: \f84c;
$el-var-border-none: \f850;
$el-var-border-style: \f853;
$el-var-bowling-ball: \f436;
$el-var-fa-box: \f466;
$el-var-box-open: \f49e;
$el-var-boxes: \f468;
$el-var-braille: \f2a1;
$el-var-brain: \f5dc;
$el-var-bread-slice: \f7ec;
$el-var-briefcase: \f0b1;
$el-var-briefcase-medical: \f469;
$el-var-broadcast-tower: \f519;
$el-var-broom: \f51a;
$el-var-fa-brush: \f55d;
$el-var-btc: \f15a;
$el-var-buffer: \f837;
$el-var-bug: \f188;
$el-var-building: \f1ad;
$el-var-bullhorn: \f0a1;
$el-var-bullseye: \f140;
$el-var-burn: \f46a;
$el-var-buromobelexperte: \f37f;
$el-var-bus: \f207;
$el-var-bus-alt: \f55e;
$el-var-business-time: \f64a;
$el-var-buy-n-large: \f8a6;
$el-var-buysellads: \f20d;
$el-var-calculator: \f1ec;
$el-var-calendar: \f133;
$el-var-calendar-alt: \f073;
$el-var-calendar-check: \f274;
$el-var-calendar-day: \f783;
$el-var-calendar-minus: \f272;
$el-var-calendar-plus: \f271;
$el-var-calendar-times: \f273;
$el-var-calendar-week: \f784;
$el-var-fa-camera: \f030;
$el-var-camera-retro: \f083;
$el-var-campground: \f6bb;
$el-var-canadian-maple-leaf: \f785;
$el-var-candy-cane: \f786;
$el-var-cannabis: \f55f;
$el-var-capsules: \f46b;
$el-var-car: \f1b9;
$el-var-car-alt: \f5de;
$el-var-car-battery: \f5df;
$el-var-car-crash: \f5e1;
$el-var-car-side: \f5e4;
$el-var-caret-down: \f0d7;
$el-var-fa-caret-left: \f0d9;
$el-var-fa-caret-right: \f0da;
$el-var-caret-square-down: \f150;
$el-var-caret-square-left: \f191;
$el-var-caret-square-right: \f152;
$el-var-caret-square-up: \f151;
$el-var-caret-up: \f0d8;
$el-var-carrot: \f787;
$el-var-cart-arrow-down: \f218;
$el-var-cart-plus: \f217;
$el-var-cash-register: \f788;
$el-var-cat: \f6be;
$el-var-cc-amazon-pay: \f42d;
$el-var-cc-amex: \f1f3;
$el-var-cc-apple-pay: \f416;
$el-var-cc-diners-club: \f24c;
$el-var-cc-discover: \f1f2;
$el-var-cc-jcb: \f24b;
$el-var-cc-mastercard: \f1f1;
$el-var-cc-paypal: \f1f4;
$el-var-cc-stripe: \f1f5;
$el-var-cc-visa: \f1f0;
$el-var-centercode: \f380;
$el-var-centos: \f789;
$el-var-certificate: \f0a3;
$el-var-chair: \f6c0;
$el-var-chalkboard: \f51b;
$el-var-chalkboard-teacher: \f51c;
$el-var-charging-station: \f5e7;
$el-var-chart-area: \f1fe;
$el-var-chart-bar: \f080;
$el-var-chart-line: \f201;
$el-var-chart-pie: \f200;
$el-var-fa-check: \f00c;
$el-var-check-circle: \f058;
$el-var-check-double: \f560;
$el-var-check-square: \f14a;
$el-var-cheese: \f7ef;
$el-var-chess: \f439;
$el-var-chess-bishop: \f43a;
$el-var-chess-board: \f43c;
$el-var-chess-king: \f43f;
$el-var-chess-knight: \f441;
$el-var-chess-pawn: \f443;
$el-var-chess-queen: \f445;
$el-var-chess-rook: \f447;
$el-var-chevron-circle-down: \f13a;
$el-var-chevron-circle-left: \f137;
$el-var-chevron-circle-right: \f138;
$el-var-chevron-circle-up: \f139;
$el-var-chevron-down: \f078;
$el-var-chevron-left: \f053;
$el-var-chevron-right: \f054;
$el-var-chevron-up: \f077;
$el-var-child: \f1ae;
$el-var-chrome: \f268;
$el-var-chromecast: \f838;
$el-var-church: \f51d;
$el-var-circle: \f111;
$el-var-circle-notch: \f1ce;
$el-var-city: \f64f;
$el-var-clinic-medical: \f7f2;
$el-var-clipboard: \f328;
$el-var-clipboard-check: \f46c;
$el-var-clipboard-list: \f46d;
$el-var-clock: \f017;
$el-var-clone: \f24d;
$el-var-closed-captioning: \f20a;
$el-var-cloud: \f0c2;
$el-var-cloud-download-alt: \f381;
$el-var-cloud-meatball: \f73b;
$el-var-cloud-moon: \f6c3;
$el-var-cloud-moon-rain: \f73c;
$el-var-cloud-rain: \f73d;
$el-var-cloud-showers-heavy: \f740;
$el-var-cloud-sun: \f6c4;
$el-var-cloud-sun-rain: \f743;
$el-var-cloud-upload-alt: \f382;
$el-var-cloudscale: \f383;
$el-var-cloudsmith: \f384;
$el-var-cloudversify: \f385;
$el-var-cocktail: \f561;
$el-var-code: \f121;
$el-var-code-branch: \f126;
$el-var-codepen: \f1cb;
$el-var-codiepie: \f284;
$el-var-fa-coffee: \f0f4;
$el-var-cog: \f013;
$el-var-cogs: \f085;
$el-var-coins: \f51e;
$el-var-columns: \f0db;
$el-var-comment: \f075;
$el-var-comment-alt: \f27a;
$el-var-comment-dollar: \f651;
$el-var-comment-dots: \f4ad;
$el-var-comment-medical: \f7f5;
$el-var-comment-slash: \f4b3;
$el-var-comments: \f086;
$el-var-comments-dollar: \f653;
$el-var-compact-disc: \f51f;
$el-var-compass: \f14e;
$el-var-compress: \f066;
$el-var-compress-arrows-alt: \f78c;
$el-var-concierge-bell: \f562;
$el-var-confluence: \f78d;
$el-var-connectdevelop: \f20e;
$el-var-contao: \f26d;
$el-var-cookie: \f563;
$el-var-cookie-bite: \f564;
$el-var-copy: \f0c5;
$el-var-copyright: \f1f9;
$el-var-cotton-bureau: \f89e;
$el-var-couch: \f4b8;
$el-var-cpanel: \f388;
$el-var-creative-commons: \f25e;
$el-var-creative-commons-by: \f4e7;
$el-var-creative-commons-nc: \f4e8;
$el-var-creative-commons-nc-eu: \f4e9;
$el-var-creative-commons-nc-jp: \f4ea;
$el-var-creative-commons-nd: \f4eb;
$el-var-creative-commons-pd: \f4ec;
$el-var-creative-commons-pd-alt: \f4ed;
$el-var-creative-commons-remix: \f4ee;
$el-var-creative-commons-sa: \f4ef;
$el-var-creative-commons-sampling: \f4f0;
$el-var-creative-commons-sampling-plus: \f4f1;
$el-var-creative-commons-share: \f4f2;
$el-var-creative-commons-zero: \f4f3;
$el-var-credit-card: \f09d;
$el-var-critical-role: \f6c9;
$el-var-fa-crop: \f125;
$el-var-crop-alt: \f565;
$el-var-cross: \f654;
$el-var-crosshairs: \f05b;
$el-var-crow: \f520;
$el-var-crown: \f521;
$el-var-crutch: \f7f7;
$el-var-css3: \f13c;
$el-var-css3-alt: \f38b;
$el-var-cube: \f1b2;
$el-var-cubes: \f1b3;
$el-var-cut: \f0c4;
$el-var-cuttlefish: \f38c;
$el-var-d-and-d: \f38d;
$el-var-d-and-d-beyond: \f6ca;
$el-var-dashcube: \f210;
$el-var-database: \f1c0;
$el-var-deaf: \f2a4;
$el-var-delicious: \f1a5;
$el-var-democrat: \f747;
$el-var-deploydog: \f38e;
$el-var-deskpro: \f38f;
$el-var-desktop: \f108;
$el-var-dev: \f6cc;
$el-var-deviantart: \f1bd;
$el-var-dharmachakra: \f655;
$el-var-dhl: \f790;
$el-var-diagnoses: \f470;
$el-var-diaspora: \f791;
$el-var-dice: \f522;
$el-var-dice-d20: \f6cf;
$el-var-dice-d6: \f6d1;
$el-var-dice-five: \f523;
$el-var-dice-four: \f524;
$el-var-dice-one: \f525;
$el-var-dice-six: \f526;
$el-var-dice-three: \f527;
$el-var-dice-two: \f528;
$el-var-digg: \f1a6;
$el-var-digital-ocean: \f391;
$el-var-digital-tachograph: \f566;
$el-var-directions: \f5eb;
$el-var-discord: \f392;
$el-var-discourse: \f393;
$el-var-divide: \f529;
$el-var-dizzy: \f567;
$el-var-dna: \f471;
$el-var-dochub: \f394;
$el-var-docker: \f395;
$el-var-dog: \f6d3;
$el-var-dollar-sign: \f155;
$el-var-dolly: \f472;
$el-var-dolly-flatbed: \f474;
$el-var-donate: \f4b9;
$el-var-door-closed: \f52a;
$el-var-door-open: \f52b;
$el-var-dot-circle: \f192;
$el-var-dove: \f4ba;
$el-var-fa-download: \f019;
$el-var-draft2digital: \f396;
$el-var-drafting-compass: \f568;
$el-var-dragon: \f6d5;
$el-var-draw-polygon: \f5ee;
$el-var-dribbble: \f17d;
$el-var-dribbble-square: \f397;
$el-var-dropbox: \f16b;
$el-var-drum: \f569;
$el-var-drum-steelpan: \f56a;
$el-var-drumstick-bite: \f6d7;
$el-var-drupal: \f1a9;
$el-var-dumbbell: \f44b;
$el-var-dumpster: \f793;
$el-var-dumpster-fire: \f794;
$el-var-dungeon: \f6d9;
$el-var-dyalog: \f399;
$el-var-earlybirds: \f39a;
$el-var-ebay: \f4f4;
$el-var-edge: \f282;
$el-var-fa-edit: \f044;
$el-var-egg: \f7fb;
$el-var-eject: \f052;
$el-var-elementor: \f430;
$el-var-ellipsis-h: \f141;
$el-var-ellipsis-v: \f142;
$el-var-ello: \f5f1;
$el-var-ember: \f423;
$el-var-empire: \f1d1;
$el-var-envelope: \f0e0;
$el-var-envelope-open: \f2b6;
$el-var-envelope-open-text: \f658;
$el-var-envelope-square: \f199;
$el-var-envira: \f299;
$el-var-equals: \f52c;
$el-var-eraser: \f12d;
$el-var-erlang: \f39d;
$el-var-ethereum: \f42e;
$el-var-ethernet: \f796;
$el-var-etsy: \f2d7;
$el-var-euro-sign: \f153;
$el-var-evernote: \f839;
$el-var-exchange-alt: \f362;
$el-var-exclamation: \f12a;
$el-var-exclamation-circle: \f06a;
$el-var-exclamation-triangle: \f071;
$el-var-expand: \f065;
$el-var-expand-arrows-alt: \f31e;
$el-var-expeditedssl: \f23e;
$el-var-external-link-alt: \f35d;
$el-var-external-link-square-alt: \f360;
$el-var-eye: \f06e;
$el-var-eye-dropper: \f1fb;
$el-var-eye-slash: \f070;
$el-var-facebook: \f09a;
$el-var-facebook-f: \f39e;
$el-var-facebook-messenger: \f39f;
$el-var-facebook-square: \f082;
$el-var-fan: \f863;
$el-var-fantasy-flight-games: \f6dc;
$el-var-fast-backward: \f049;
$el-var-fast-forward: \f050;
$el-var-fax: \f1ac;
$el-var-feather: \f52d;
$el-var-feather-alt: \f56b;
$el-var-fedex: \f797;
$el-var-fedora: \f798;
$el-var-female: \f182;
$el-var-fighter-jet: \f0fb;
$el-var-figma: \f799;
$el-var-file: \f15b;
$el-var-file-alt: \f15c;
$el-var-file-archive: \f1c6;
$el-var-file-audio: \f1c7;
$el-var-file-code: \f1c9;
$el-var-file-contract: \f56c;
$el-var-file-csv: \f6dd;
$el-var-file-download: \f56d;
$el-var-file-excel: \f1c3;
$el-var-file-export: \f56e;
$el-var-file-image: \f1c5;
$el-var-file-import: \f56f;
$el-var-file-invoice: \f570;
$el-var-file-invoice-dollar: \f571;
$el-var-file-medical: \f477;
$el-var-file-medical-alt: \f478;
$el-var-file-pdf: \f1c1;
$el-var-file-powerpoint: \f1c4;
$el-var-file-prescription: \f572;
$el-var-file-signature: \f573;
$el-var-file-upload: \f574;
$el-var-file-video: \f1c8;
$el-var-file-word: \f1c2;
$el-var-fill: \f575;
$el-var-fill-drip: \f576;
$el-var-film: \f008;
$el-var-filter: \f0b0;
$el-var-fingerprint: \f577;
$el-var-fire: \f06d;
$el-var-fire-alt: \f7e4;
$el-var-fire-extinguisher: \f134;
$el-var-firefox: \f269;
$el-var-first-aid: \f479;
$el-var-first-order: \f2b0;
$el-var-first-order-alt: \f50a;
$el-var-firstdraft: \f3a1;
$el-var-fish: \f578;
$el-var-fist-raised: \f6de;
$el-var-flag: \f024;
$el-var-flag-checkered: \f11e;
$el-var-flag-usa: \f74d;
$el-var-flask: \f0c3;
$el-var-flickr: \f16e;
$el-var-flipboard: \f44d;
$el-var-flushed: \f579;
$el-var-fly: \f417;
$el-var-fa-folder: \f07b;
$el-var-folder-minus: \f65d;
$el-var-folder-open: \f07c;
$el-var-folder-plus: \f65e;
$el-var-font: \f031;
$el-var-font-awesome: \f2b4;
$el-var-font-awesome-alt: \f35c;
$el-var-font-awesome-flag: \f425;
$el-var-font-awesome-logo-full: \f4e6;
$el-var-fonticons: \f280;
$el-var-fonticons-fi: \f3a2;
$el-var-football-ball: \f44e;
$el-var-fort-awesome: \f286;
$el-var-fort-awesome-alt: \f3a3;
$el-var-forumbee: \f211;
$el-var-forward: \f04e;
$el-var-foursquare: \f180;
$el-var-free-code-camp: \f2c5;
$el-var-freebsd: \f3a4;
$el-var-frog: \f52e;
$el-var-frown: \f119;
$el-var-frown-open: \f57a;
$el-var-fulcrum: \f50b;
$el-var-funnel-dollar: \f662;
$el-var-futbol: \f1e3;
$el-var-galactic-republic: \f50c;
$el-var-galactic-senate: \f50d;
$el-var-gamepad: \f11b;
$el-var-gas-pump: \f52f;
$el-var-gavel: \f0e3;
$el-var-gem: \f3a5;
$el-var-genderless: \f22d;
$el-var-get-pocket: \f265;
$el-var-gg: \f260;
$el-var-gg-circle: \f261;
$el-var-ghost: \f6e2;
$el-var-gift: \f06b;
$el-var-gifts: \f79c;
$el-var-git: \f1d3;
$el-var-git-alt: \f841;
$el-var-git-square: \f1d2;
$el-var-github: \f09b;
$el-var-github-alt: \f113;
$el-var-github-square: \f092;
$el-var-gitkraken: \f3a6;
$el-var-gitlab: \f296;
$el-var-gitter: \f426;
$el-var-glass-cheers: \f79f;
$el-var-glass-martini: \f000;
$el-var-glass-martini-alt: \f57b;
$el-var-glass-whiskey: \f7a0;
$el-var-glasses: \f530;
$el-var-glide: \f2a5;
$el-var-glide-g: \f2a6;
$el-var-globe: \f0ac;
$el-var-globe-africa: \f57c;
$el-var-globe-americas: \f57d;
$el-var-globe-asia: \f57e;
$el-var-globe-europe: \f7a2;
$el-var-gofore: \f3a7;
$el-var-golf-ball: \f450;
$el-var-goodreads: \f3a8;
$el-var-goodreads-g: \f3a9;
$el-var-google: \f1a0;
$el-var-google-drive: \f3aa;
$el-var-google-play: \f3ab;
$el-var-google-plus: \f2b3;
$el-var-google-plus-g: \f0d5;
$el-var-google-plus-square: \f0d4;
$el-var-google-wallet: \f1ee;
$el-var-gopuram: \f664;
$el-var-graduation-cap: \f19d;
$el-var-gratipay: \f184;
$el-var-grav: \f2d6;
$el-var-greater-than: \f531;
$el-var-greater-than-equal: \f532;
$el-var-grimace: \f57f;
$el-var-grin: \f580;
$el-var-grin-alt: \f581;
$el-var-grin-beam: \f582;
$el-var-grin-beam-sweat: \f583;
$el-var-grin-hearts: \f584;
$el-var-grin-squint: \f585;
$el-var-grin-squint-tears: \f586;
$el-var-grin-stars: \f587;
$el-var-grin-tears: \f588;
$el-var-grin-tongue: \f589;
$el-var-grin-tongue-squint: \f58a;
$el-var-grin-tongue-wink: \f58b;
$el-var-grin-wink: \f58c;
$el-var-grip-horizontal: \f58d;
$el-var-grip-lines: \f7a4;
$el-var-grip-lines-vertical: \f7a5;
$el-var-grip-vertical: \f58e;
$el-var-gripfire: \f3ac;
$el-var-grunt: \f3ad;
$el-var-guitar: \f7a6;
$el-var-gulp: \f3ae;
$el-var-h-square: \f0fd;
$el-var-hacker-news: \f1d4;
$el-var-hacker-news-square: \f3af;
$el-var-hackerrank: \f5f7;
$el-var-hamburger: \f805;
$el-var-hammer: \f6e3;
$el-var-hamsa: \f665;
$el-var-hand-holding: \f4bd;
$el-var-hand-holding-heart: \f4be;
$el-var-hand-holding-usd: \f4c0;
$el-var-hand-lizard: \f258;
$el-var-hand-middle-finger: \f806;
$el-var-hand-paper: \f256;
$el-var-hand-peace: \f25b;
$el-var-hand-point-down: \f0a7;
$el-var-hand-point-left: \f0a5;
$el-var-hand-point-right: \f0a4;
$el-var-hand-point-up: \f0a6;
$el-var-hand-pointer: \f25a;
$el-var-hand-rock: \f255;
$el-var-hand-scissors: \f257;
$el-var-hand-spock: \f259;
$el-var-hands: \f4c2;
$el-var-hands-helping: \f4c4;
$el-var-handshake: \f2b5;
$el-var-hanukiah: \f6e6;
$el-var-hard-hat: \f807;
$el-var-hashtag: \f292;
$el-var-hat-cowboy: \f8c0;
$el-var-hat-cowboy-side: \f8c1;
$el-var-hat-wizard: \f6e8;
$el-var-haykal: \f666;
$el-var-hdd: \f0a0;
$el-var-heading: \f1dc;
$el-var-headphones: \f025;
$el-var-headphones-alt: \f58f;
$el-var-headset: \f590;
$el-var-heart: \f004;
$el-var-heart-broken: \f7a9;
$el-var-heartbeat: \f21e;
$el-var-helicopter: \f533;
$el-var-highlighter: \f591;
$el-var-hiking: \f6ec;
$el-var-hippo: \f6ed;
$el-var-hips: \f452;
$el-var-hire-a-helper: \f3b0;
$el-var-history: \f1da;
$el-var-hockey-puck: \f453;
$el-var-holly-berry: \f7aa;
$el-var-home: \f015;
$el-var-hooli: \f427;
$el-var-hornbill: \f592;
$el-var-horse: \f6f0;
$el-var-horse-head: \f7ab;
$el-var-hospital: \f0f8;
$el-var-hospital-alt: \f47d;
$el-var-hospital-symbol: \f47e;
$el-var-hot-tub: \f593;
$el-var-hotdog: \f80f;
$el-var-hotel: \f594;
$el-var-hotjar: \f3b1;
$el-var-hourglass: \f254;
$el-var-hourglass-end: \f253;
$el-var-hourglass-half: \f252;
$el-var-hourglass-start: \f251;
$el-var-house-damage: \f6f1;
$el-var-houzz: \f27c;
$el-var-hryvnia: \f6f2;
$el-var-html5: \f13b;
$el-var-hubspot: \f3b2;
$el-var-i-cursor: \f246;
$el-var-fa-ice-cream: \f810;
$el-var-icicles: \f7ad;
$el-var-icons: \f86d;
$el-var-id-badge: \f2c1;
$el-var-id-card: \f2c2;
$el-var-id-card-alt: \f47f;
$el-var-igloo: \f7ae;
$el-var-image: \f03e;
$el-var-images: \f302;
$el-var-imdb: \f2d8;
$el-var-inbox: \f01c;
$el-var-indent: \f03c;
$el-var-industry: \f275;
$el-var-infinity: \f534;
$el-var-fa-info: \f129;
$el-var-info-circle: \f05a;
$el-var-instagram: \f16d;
$el-var-intercom: \f7af;
$el-var-internet-explorer: \f26b;
$el-var-invision: \f7b0;
$el-var-ioxhost: \f208;
$el-var-italic: \f033;
$el-var-itch-io: \f83a;
$el-var-itunes: \f3b4;
$el-var-itunes-note: \f3b5;
$el-var-java: \f4e4;
$el-var-jedi: \f669;
$el-var-jedi-order: \f50e;
$el-var-jenkins: \f3b6;
$el-var-jira: \f7b1;
$el-var-joget: \f3b7;
$el-var-joint: \f595;
$el-var-joomla: \f1aa;
$el-var-journal-whills: \f66a;
$el-var-js: \f3b8;
$el-var-js-square: \f3b9;
$el-var-jsfiddle: \f1cc;
$el-var-kaaba: \f66b;
$el-var-kaggle: \f5fa;
$el-var-key: \f084;
$el-var-keybase: \f4f5;
$el-var-keyboard: \f11c;
$el-var-keycdn: \f3ba;
$el-var-khanda: \f66d;
$el-var-kickstarter: \f3bb;
$el-var-kickstarter-k: \f3bc;
$el-var-kiss: \f596;
$el-var-kiss-beam: \f597;
$el-var-kiss-wink-heart: \f598;
$el-var-kiwi-bird: \f535;
$el-var-korvue: \f42f;
$el-var-landmark: \f66f;
$el-var-language: \f1ab;
$el-var-laptop: \f109;
$el-var-laptop-code: \f5fc;
$el-var-laptop-medical: \f812;
$el-var-laravel: \f3bd;
$el-var-lastfm: \f202;
$el-var-lastfm-square: \f203;
$el-var-laugh: \f599;
$el-var-laugh-beam: \f59a;
$el-var-laugh-squint: \f59b;
$el-var-laugh-wink: \f59c;
$el-var-layer-group: \f5fd;
$el-var-leaf: \f06c;
$el-var-leanpub: \f212;
$el-var-lemon: \f094;
$el-var-less: \f41d;
$el-var-less-than: \f536;
$el-var-less-than-equal: \f537;
$el-var-level-down-alt: \f3be;
$el-var-level-up-alt: \f3bf;
$el-var-life-ring: \f1cd;
$el-var-lightbulb: \f0eb;
$el-var-line: \f3c0;
$el-var-fa-link: \f0c1;
$el-var-linkedin: \f08c;
$el-var-linkedin-in: \f0e1;
$el-var-linode: \f2b8;
$el-var-linux: \f17c;
$el-var-lira-sign: \f195;
$el-var-list: \f03a;
$el-var-list-alt: \f022;
$el-var-list-ol: \f0cb;
$el-var-list-ul: \f0ca;
$el-var-location-arrow: \f124;
$el-var-fa-lock: \f023;
$el-var-lock-open: \f3c1;
$el-var-long-arrow-alt-down: \f309;
$el-var-long-arrow-alt-left: \f30a;
$el-var-long-arrow-alt-right: \f30b;
$el-var-long-arrow-alt-up: \f30c;
$el-var-low-vision: \f2a8;
$el-var-luggage-cart: \f59d;
$el-var-lyft: \f3c3;
$el-var-magento: \f3c4;
$el-var-magic: \f0d0;
$el-var-magnet: \f076;
$el-var-mail-bulk: \f674;
$el-var-mailchimp: \f59e;
$el-var-male: \f183;
$el-var-mandalorian: \f50f;
$el-var-map: \f279;
$el-var-map-marked: \f59f;
$el-var-map-marked-alt: \f5a0;
$el-var-map-marker: \f041;
$el-var-map-marker-alt: \f3c5;
$el-var-map-pin: \f276;
$el-var-map-signs: \f277;
$el-var-markdown: \f60f;
$el-var-marker: \f5a1;
$el-var-mars: \f222;
$el-var-mars-double: \f227;
$el-var-mars-stroke: \f229;
$el-var-mars-stroke-h: \f22b;
$el-var-mars-stroke-v: \f22a;
$el-var-mask: \f6fa;
$el-var-mastodon: \f4f6;
$el-var-maxcdn: \f136;
$el-var-mdb: \f8ca;
$el-var-fa-medal: \f5a2;
$el-var-medapps: \f3c6;
$el-var-medium: \f23a;
$el-var-medium-m: \f3c7;
$el-var-medkit: \f0fa;
$el-var-medrt: \f3c8;
$el-var-meetup: \f2e0;
$el-var-megaport: \f5a3;
$el-var-meh: \f11a;
$el-var-meh-blank: \f5a4;
$el-var-meh-rolling-eyes: \f5a5;
$el-var-memory: \f538;
$el-var-mendeley: \f7b3;
$el-var-menorah: \f676;
$el-var-mercury: \f223;
$el-var-meteor: \f753;
$el-var-microchip: \f2db;
$el-var-fa-microphone: \f130;
$el-var-microphone-alt: \f3c9;
$el-var-microphone-alt-slash: \f539;
$el-var-microphone-slash: \f131;
$el-var-microscope: \f610;
$el-var-microsoft: \f3ca;
$el-var-fa-minus: \f068;
$el-var-minus-circle: \f056;
$el-var-minus-square: \f146;
$el-var-mitten: \f7b5;
$el-var-mix: \f3cb;
$el-var-mixcloud: \f289;
$el-var-mizuni: \f3cc;
$el-var-mobile: \f10b;
$el-var-mobile-alt: \f3cd;
$el-var-modx: \f285;
$el-var-monero: \f3d0;
$el-var-money-bill: \f0d6;
$el-var-money-bill-alt: \f3d1;
$el-var-money-bill-wave: \f53a;
$el-var-money-bill-wave-alt: \f53b;
$el-var-money-check: \f53c;
$el-var-money-check-alt: \f53d;
$el-var-monument: \f5a6;
$el-var-fa-moon: \f186;
$el-var-mortar-pestle: \f5a7;
$el-var-mosque: \f678;
$el-var-motorcycle: \f21c;
$el-var-mountain: \f6fc;
$el-var-mouse: \f8cc;
$el-var-mouse-pointer: \f245;
$el-var-mug-hot: \f7b6;
$el-var-music: \f001;
$el-var-napster: \f3d2;
$el-var-neos: \f612;
$el-var-network-wired: \f6ff;
$el-var-neuter: \f22c;
$el-var-newspaper: \f1ea;
$el-var-nimblr: \f5a8;
$el-var-node: \f419;
$el-var-node-js: \f3d3;
$el-var-not-equal: \f53e;
$el-var-notes-medical: \f481;
$el-var-npm: \f3d4;
$el-var-ns8: \f3d5;
$el-var-nutritionix: \f3d6;
$el-var-object-group: \f247;
$el-var-object-ungroup: \f248;
$el-var-odnoklassniki: \f263;
$el-var-odnoklassniki-square: \f264;
$el-var-oil-can: \f613;
$el-var-old-republic: \f510;
$el-var-om: \f679;
$el-var-opencart: \f23d;
$el-var-openid: \f19b;
$el-var-opera: \f26a;
$el-var-optin-monster: \f23c;
$el-var-orcid: \f8d2;
$el-var-osi: \f41a;
$el-var-otter: \f700;
$el-var-outdent: \f03b;
$el-var-page4: \f3d7;
$el-var-pagelines: \f18c;
$el-var-pager: \f815;
$el-var-paint-brush: \f1fc;
$el-var-paint-roller: \f5aa;
$el-var-palette: \f53f;
$el-var-palfed: \f3d8;
$el-var-pallet: \f482;
$el-var-paper-plane: \f1d8;
$el-var-fa-paperclip: \f0c6;
$el-var-parachute-box: \f4cd;
$el-var-paragraph: \f1dd;
$el-var-parking: \f540;
$el-var-passport: \f5ab;
$el-var-pastafarianism: \f67b;
$el-var-paste: \f0ea;
$el-var-patreon: \f3d9;
$el-var-pause: \f04c;
$el-var-pause-circle: \f28b;
$el-var-paw: \f1b0;
$el-var-paypal: \f1ed;
$el-var-peace: \f67c;
$el-var-pen: \f304;
$el-var-pen-alt: \f305;
$el-var-pen-fancy: \f5ac;
$el-var-pen-nib: \f5ad;
$el-var-pen-square: \f14b;
$el-var-pencil-alt: \f303;
$el-var-pencil-ruler: \f5ae;
$el-var-penny-arcade: \f704;
$el-var-people-carry: \f4ce;
$el-var-pepper-hot: \f816;
$el-var-percent: \f295;
$el-var-percentage: \f541;
$el-var-periscope: \f3da;
$el-var-person-booth: \f756;
$el-var-phabricator: \f3db;
$el-var-phoenix-framework: \f3dc;
$el-var-phoenix-squadron: \f511;
$el-var-fa-phone: \f095;
$el-var-phone-alt: \f879;
$el-var-phone-slash: \f3dd;
$el-var-phone-square: \f098;
$el-var-phone-square-alt: \f87b;
$el-var-phone-volume: \f2a0;
$el-var-photo-video: \f87c;
$el-var-php: \f457;
$el-var-pied-piper: \f2ae;
$el-var-pied-piper-alt: \f1a8;
$el-var-pied-piper-hat: \f4e5;
$el-var-pied-piper-pp: \f1a7;
$el-var-piggy-bank: \f4d3;
$el-var-pills: \f484;
$el-var-pinterest: \f0d2;
$el-var-pinterest-p: \f231;
$el-var-pinterest-square: \f0d3;
$el-var-pizza-slice: \f818;
$el-var-place-of-worship: \f67f;
$el-var-plane: \f072;
$el-var-plane-arrival: \f5af;
$el-var-plane-departure: \f5b0;
$el-var-play: \f04b;
$el-var-play-circle: \f144;
$el-var-playstation: \f3df;
$el-var-plug: \f1e6;
$el-var-fa-plus: \f067;
$el-var-plus-circle: \f055;
$el-var-plus-square: \f0fe;
$el-var-podcast: \f2ce;
$el-var-poll: \f681;
$el-var-poll-h: \f682;
$el-var-poo: \f2fe;
$el-var-poo-storm: \f75a;
$el-var-poop: \f619;
$el-var-portrait: \f3e0;
$el-var-pound-sign: \f154;
$el-var-power-off: \f011;
$el-var-pray: \f683;
$el-var-praying-hands: \f684;
$el-var-prescription: \f5b1;
$el-var-prescription-bottle: \f485;
$el-var-prescription-bottle-alt: \f486;
$el-var-print: \f02f;
$el-var-procedures: \f487;
$el-var-product-hunt: \f288;
$el-var-project-diagram: \f542;
$el-var-pushed: \f3e1;
$el-var-puzzle-piece: \f12e;
$el-var-python: \f3e2;
$el-var-qq: \f1d6;
$el-var-qrcode: \f029;
$el-var-fa-question: \f128;
$el-var-question-circle: \f059;
$el-var-quidditch: \f458;
$el-var-quinscape: \f459;
$el-var-quora: \f2c4;
$el-var-quote-left: \f10d;
$el-var-quote-right: \f10e;
$el-var-quran: \f687;
$el-var-r-project: \f4f7;
$el-var-radiation: \f7b9;
$el-var-radiation-alt: \f7ba;
$el-var-rainbow: \f75b;
$el-var-random: \f074;
$el-var-raspberry-pi: \f7bb;
$el-var-ravelry: \f2d9;
$el-var-react: \f41b;
$el-var-reacteurope: \f75d;
$el-var-readme: \f4d5;
$el-var-rebel: \f1d0;
$el-var-receipt: \f543;
$el-var-record-vinyl: \f8d9;
$el-var-recycle: \f1b8;
$el-var-red-river: \f3e3;
$el-var-reddit: \f1a1;
$el-var-reddit-alien: \f281;
$el-var-reddit-square: \f1a2;
$el-var-redhat: \f7bc;
$el-var-redo: \f01e;
$el-var-redo-alt: \f2f9;
$el-var-registered: \f25d;
$el-var-remove-format: \f87d;
$el-var-renren: \f18b;
$el-var-reply: \f3e5;
$el-var-reply-all: \f122;
$el-var-replyd: \f3e6;
$el-var-republican: \f75e;
$el-var-researchgate: \f4f8;
$el-var-resolving: \f3e7;
$el-var-restroom: \f7bd;
$el-var-retweet: \f079;
$el-var-rev: \f5b2;
$el-var-ribbon: \f4d6;
$el-var-ring: \f70b;
$el-var-road: \f018;
$el-var-robot: \f544;
$el-var-rocket: \f135;
$el-var-rocketchat: \f3e8;
$el-var-rockrms: \f3e9;
$el-var-route: \f4d7;
$el-var-rss: \f09e;
$el-var-rss-square: \f143;
$el-var-ruble-sign: \f158;
$el-var-ruler: \f545;
$el-var-ruler-combined: \f546;
$el-var-ruler-horizontal: \f547;
$el-var-ruler-vertical: \f548;
$el-var-running: \f70c;
$el-var-rupee-sign: \f156;
$el-var-sad-cry: \f5b3;
$el-var-sad-tear: \f5b4;
$el-var-safari: \f267;
$el-var-salesforce: \f83b;
$el-var-sass: \f41e;
$el-var-satellite: \f7bf;
$el-var-satellite-dish: \f7c0;
$el-var-save: \f0c7;
$el-var-schlix: \f3ea;
$el-var-fa-school: \f549;
$el-var-screwdriver: \f54a;
$el-var-scribd: \f28a;
$el-var-scroll: \f70e;
$el-var-sd-card: \f7c2;
$el-var-search: \f002;
$el-var-search-dollar: \f688;
$el-var-search-location: \f689;
$el-var-search-minus: \f010;
$el-var-search-plus: \f00e;
$el-var-searchengin: \f3eb;
$el-var-seedling: \f4d8;
$el-var-sellcast: \f2da;
$el-var-sellsy: \f213;
$el-var-server: \f233;
$el-var-servicestack: \f3ec;
$el-var-shapes: \f61f;
$el-var-fa-share: \f064;
$el-var-share-alt: \f1e0;
$el-var-share-alt-square: \f1e1;
$el-var-share-square: \f14d;
$el-var-shekel-sign: \f20b;
$el-var-shield-alt: \f3ed;
$el-var-fa-ship: \f21a;
$el-var-shipping-fast: \f48b;
$el-var-shirtsinbulk: \f214;
$el-var-shoe-prints: \f54b;
$el-var-shopping-bag: \f290;
$el-var-shopping-basket: \f291;
$el-var-shopping-cart: \f07a;
$el-var-shopware: \f5b5;
$el-var-shower: \f2cc;
$el-var-shuttle-van: \f5b6;
$el-var-sign: \f4d9;
$el-var-sign-in-alt: \f2f6;
$el-var-sign-language: \f2a7;
$el-var-sign-out-alt: \f2f5;
$el-var-signal: \f012;
$el-var-signature: \f5b7;
$el-var-sim-card: \f7c4;
$el-var-simplybuilt: \f215;
$el-var-sistrix: \f3ee;
$el-var-sitemap: \f0e8;
$el-var-sith: \f512;
$el-var-skating: \f7c5;
$el-var-sketch: \f7c6;
$el-var-skiing: \f7c9;
$el-var-skiing-nordic: \f7ca;
$el-var-skull: \f54c;
$el-var-skull-crossbones: \f714;
$el-var-skyatlas: \f216;
$el-var-skype: \f17e;
$el-var-slack: \f198;
$el-var-slack-hash: \f3ef;
$el-var-slash: \f715;
$el-var-sleigh: \f7cc;
$el-var-sliders-h: \f1de;
$el-var-slideshare: \f1e7;
$el-var-smile: \f118;
$el-var-smile-beam: \f5b8;
$el-var-smile-wink: \f4da;
$el-var-smog: \f75f;
$el-var-fa-smoking: \f48d;
$el-var-smoking-ban: \f54d;
$el-var-sms: \f7cd;
$el-var-snapchat: \f2ab;
$el-var-snapchat-ghost: \f2ac;
$el-var-snapchat-square: \f2ad;
$el-var-snowboarding: \f7ce;
$el-var-snowflake: \f2dc;
$el-var-snowman: \f7d0;
$el-var-snowplow: \f7d2;
$el-var-socks: \f696;
$el-var-solar-panel: \f5ba;
$el-var-sort: \f0dc;
$el-var-sort-alpha-down: \f15d;
$el-var-sort-alpha-down-alt: \f881;
$el-var-sort-alpha-up: \f15e;
$el-var-sort-alpha-up-alt: \f882;
$el-var-sort-amount-down: \f160;
$el-var-sort-amount-down-alt: \f884;
$el-var-sort-amount-up: \f161;
$el-var-sort-amount-up-alt: \f885;
$el-var-sort-down: \f0dd;
$el-var-sort-numeric-down: \f162;
$el-var-sort-numeric-down-alt: \f886;
$el-var-sort-numeric-up: \f163;
$el-var-sort-numeric-up-alt: \f887;
$el-var-sort-up: \f0de;
$el-var-soundcloud: \f1be;
$el-var-sourcetree: \f7d3;
$el-var-spa: \f5bb;
$el-var-space-shuttle: \f197;
$el-var-speakap: \f3f3;
$el-var-speaker-deck: \f83c;
$el-var-spell-check: \f891;
$el-var-spider: \f717;
$el-var-spinner: \f110;
$el-var-splotch: \f5bc;
$el-var-spotify: \f1bc;
$el-var-spray-can: \f5bd;
$el-var-square: \f0c8;
$el-var-square-full: \f45c;
$el-var-square-root-alt: \f698;
$el-var-squarespace: \f5be;
$el-var-stack-exchange: \f18d;
$el-var-stack-overflow: \f16c;
$el-var-stackpath: \f842;
$el-var-stamp: \f5bf;
$el-var-star: \f005;
$el-var-star-and-crescent: \f699;
$el-var-star-half: \f089;
$el-var-star-half-alt: \f5c0;
$el-var-star-of-david: \f69a;
$el-var-star-of-life: \f621;
$el-var-staylinked: \f3f5;
$el-var-steam: \f1b6;
$el-var-steam-square: \f1b7;
$el-var-steam-symbol: \f3f6;
$el-var-step-backward: \f048;
$el-var-step-forward: \f051;
$el-var-stethoscope: \f0f1;
$el-var-sticker-mule: \f3f7;
$el-var-sticky-note: \f249;
$el-var-stop: \f04d;
$el-var-stop-circle: \f28d;
$el-var-fa-stopwatch: \f2f2;
$el-var-store: \f54e;
$el-var-store-alt: \f54f;
$el-var-strava: \f428;
$el-var-stream: \f550;
$el-var-street-view: \f21d;
$el-var-strikethrough: \f0cc;
$el-var-stripe: \f429;
$el-var-stripe-s: \f42a;
$el-var-stroopwafel: \f551;
$el-var-studiovinari: \f3f8;
$el-var-stumbleupon: \f1a4;
$el-var-stumbleupon-circle: \f1a3;
$el-var-subscript: \f12c;
$el-var-subway: \f239;
$el-var-suitcase: \f0f2;
$el-var-suitcase-rolling: \f5c1;
$el-var-sun: \f185;
$el-var-superpowers: \f2dd;
$el-var-superscript: \f12b;
$el-var-supple: \f3f9;
$el-var-surprise: \f5c2;
$el-var-suse: \f7d6;
$el-var-swatchbook: \f5c3;
$el-var-swift: \f8e1;
$el-var-swimmer: \f5c4;
$el-var-swimming-pool: \f5c5;
$el-var-symfony: \f83d;
$el-var-synagogue: \f69b;
$el-var-sync: \f021;
$el-var-sync-alt: \f2f1;
$el-var-syringe: \f48e;
$el-var-table: \f0ce;
$el-var-table-tennis: \f45d;
$el-var-tablet: \f10a;
$el-var-tablet-alt: \f3fa;
$el-var-tablets: \f490;
$el-var-tachometer-alt: \f3fd;
$el-var-tag: \f02b;
$el-var-tags: \f02c;
$el-var-tape: \f4db;
$el-var-tasks: \f0ae;
$el-var-taxi: \f1ba;
$el-var-teamspeak: \f4f9;
$el-var-teeth: \f62e;
$el-var-teeth-open: \f62f;
$el-var-telegram: \f2c6;
$el-var-telegram-plane: \f3fe;
$el-var-temperature-high: \f769;
$el-var-temperature-low: \f76b;
$el-var-tencent-weibo: \f1d5;
$el-var-tenge: \f7d7;
$el-var-terminal: \f120;
$el-var-text-height: \f034;
$el-var-text-width: \f035;
$el-var-th: \f00a;
$el-var-th-large: \f009;
$el-var-th-list: \f00b;
$el-var-the-red-yeti: \f69d;
$el-var-theater-masks: \f630;
$el-var-themeco: \f5c6;
$el-var-themeisle: \f2b2;
$el-var-thermometer: \f491;
$el-var-thermometer-empty: \f2cb;
$el-var-thermometer-full: \f2c7;
$el-var-thermometer-half: \f2c9;
$el-var-thermometer-quarter: \f2ca;
$el-var-thermometer-three-quarters: \f2c8;
$el-var-think-peaks: \f731;
$el-var-thumbs-down: \f165;
$el-var-thumbs-up: \f164;
$el-var-thumbtack: \f08d;
$el-var-ticket-alt: \f3ff;
$el-var-times: \f00d;
$el-var-times-circle: \f057;
$el-var-tint: \f043;
$el-var-tint-slash: \f5c7;
$el-var-tired: \f5c8;
$el-var-toggle-off: \f204;
$el-var-toggle-on: \f205;
$el-var-toilet: \f7d8;
$el-var-fa-toilet-paper: \f71e;
$el-var-toolbox: \f552;
$el-var-tools: \f7d9;
$el-var-tooth: \f5c9;
$el-var-torah: \f6a0;
$el-var-torii-gate: \f6a1;
$el-var-tractor: \f722;
$el-var-trade-federation: \f513;
$el-var-trademark: \f25c;
$el-var-traffic-light: \f637;
$el-var-train: \f238;
$el-var-tram: \f7da;
$el-var-transgender: \f224;
$el-var-transgender-alt: \f225;
$el-var-trash: \f1f8;
$el-var-trash-alt: \f2ed;
$el-var-trash-restore: \f829;
$el-var-trash-restore-alt: \f82a;
$el-var-tree: \f1bb;
$el-var-trello: \f181;
$el-var-tripadvisor: \f262;
$el-var-fa-trophy: \f091;
$el-var-fa-truck: \f0d1;
$el-var-truck-loading: \f4de;
$el-var-truck-monster: \f63b;
$el-var-truck-moving: \f4df;
$el-var-truck-pickup: \f63c;
$el-var-tshirt: \f553;
$el-var-tty: \f1e4;
$el-var-tumblr: \f173;
$el-var-tumblr-square: \f174;
$el-var-tv: \f26c;
$el-var-twitch: \f1e8;
$el-var-twitter: \f099;
$el-var-twitter-square: \f081;
$el-var-typo3: \f42b;
$el-var-uber: \f402;
$el-var-ubuntu: \f7df;
$el-var-uikit: \f403;
$el-var-umbraco: \f8e8;
$el-var-umbrella: \f0e9;
$el-var-umbrella-beach: \f5ca;
$el-var-underline: \f0cd;
$el-var-undo: \f0e2;
$el-var-undo-alt: \f2ea;
$el-var-uniregistry: \f404;
$el-var-universal-access: \f29a;
$el-var-university: \f19c;
$el-var-unlink: \f127;
$el-var-fa-unlock: \f09c;
$el-var-unlock-alt: \f13e;
$el-var-untappd: \f405;
$el-var-fa-upload: \f093;
$el-var-ups: \f7e0;
$el-var-usb: \f287;
$el-var-fa-user: \f007;
$el-var-user-alt: \f406;
$el-var-user-alt-slash: \f4fa;
$el-var-user-astronaut: \f4fb;
$el-var-user-check: \f4fc;
$el-var-user-circle: \f2bd;
$el-var-user-clock: \f4fd;
$el-var-user-cog: \f4fe;
$el-var-user-edit: \f4ff;
$el-var-user-friends: \f500;
$el-var-user-graduate: \f501;
$el-var-user-injured: \f728;
$el-var-user-lock: \f502;
$el-var-user-md: \f0f0;
$el-var-user-minus: \f503;
$el-var-user-ninja: \f504;
$el-var-user-nurse: \f82f;
$el-var-user-plus: \f234;
$el-var-user-secret: \f21b;
$el-var-user-shield: \f505;
$el-var-user-slash: \f506;
$el-var-user-tag: \f507;
$el-var-user-tie: \f508;
$el-var-user-times: \f235;
$el-var-users: \f0c0;
$el-var-users-cog: \f509;
$el-var-usps: \f7e1;
$el-var-ussunnah: \f407;
$el-var-utensil-spoon: \f2e5;
$el-var-utensils: \f2e7;
$el-var-vaadin: \f408;
$el-var-vector-square: \f5cb;
$el-var-venus: \f221;
$el-var-venus-double: \f226;
$el-var-venus-mars: \f228;
$el-var-viacoin: \f237;
$el-var-viadeo: \f2a9;
$el-var-viadeo-square: \f2aa;
$el-var-vial: \f492;
$el-var-vials: \f493;
$el-var-viber: \f409;
$el-var-video: \f03d;
$el-var-video-slash: \f4e2;
$el-var-vihara: \f6a7;
$el-var-vimeo: \f40a;
$el-var-vimeo-square: \f194;
$el-var-vimeo-v: \f27d;
$el-var-vine: \f1ca;
$el-var-vk: \f189;
$el-var-vnv: \f40b;
$el-var-voicemail: \f897;
$el-var-volleyball-ball: \f45f;
$el-var-volume-down: \f027;
$el-var-volume-mute: \f6a9;
$el-var-volume-off: \f026;
$el-var-volume-up: \f028;
$el-var-vote-yea: \f772;
$el-var-vr-cardboard: \f729;
$el-var-vuejs: \f41f;
$el-var-walking: \f554;
$el-var-fa-wallet: \f555;
$el-var-warehouse: \f494;
$el-var-water: \f773;
$el-var-wave-square: \f83e;
$el-var-waze: \f83f;
$el-var-weebly: \f5cc;
$el-var-weibo: \f18a;
$el-var-weight: \f496;
$el-var-weight-hanging: \f5cd;
$el-var-weixin: \f1d7;
$el-var-whatsapp: \f232;
$el-var-whatsapp-square: \f40c;
$el-var-wheelchair: \f193;
$el-var-whmcs: \f40d;
$el-var-wifi: \f1eb;
$el-var-wikipedia-w: \f266;
$el-var-wind: \f72e;
$el-var-window-close: \f410;
$el-var-window-maximize: \f2d0;
$el-var-window-minimize: \f2d1;
$el-var-window-restore: \f2d2;
$el-var-windows: \f17a;
$el-var-wine-bottle: \f72f;
$el-var-wine-glass: \f4e3;
$el-var-wine-glass-alt: \f5ce;
$el-var-wix: \f5cf;
$el-var-wizards-of-the-coast: \f730;
$el-var-wolf-pack-battalion: \f514;
$el-var-won-sign: \f159;
$el-var-wordpress: \f19a;
$el-var-wordpress-simple: \f411;
$el-var-wpbeginner: \f297;
$el-var-wpexplorer: \f2de;
$el-var-wpforms: \f298;
$el-var-wpressr: \f3e4;
$el-var-wrench: \f0ad;
$el-var-x-ray: \f497;
$el-var-xbox: \f412;
$el-var-xing: \f168;
$el-var-xing-square: \f169;
$el-var-y-combinator: \f23b;
$el-var-yahoo: \f19e;
$el-var-yammer: \f840;
$el-var-yandex: \f413;
$el-var-yandex-international: \f414;
$el-var-yarn: \f7e3;
$el-var-yelp: \f1e9;
$el-var-yen-sign: \f157;
$el-var-yin-yang: \f6ad;
$el-var-yoast: \f2b1;
$el-var-youtube: \f167;
$el-var-youtube-square: \f431;
$el-var-zhihu: \f63f ;


// elementui 的图标
$el-var-ice-cream-round:\e6a0 ;
$el-var-ice-cream-square:\e6a3 ;
$el-var-lollipop:\e6a4 ;
$el-var-potato-strips:\e6a5 ;
$el-var-milk-tea:\e6a6 ;
$el-var-ice-drink:\e6a7 ;
$el-var-ice-tea:\e6a9 ;
$el-var-coffee:\e6aa ;
$el-var-orange:\e6ab ;
$el-var-pear:\e6ac ;
$el-var-fa-apple:\e6ad ;
$el-var-cherry:\e6ae ;
$el-var-watermelon:\e6af ;
$el-var-grape:\e6b0 ;
$el-var-refrigerator:\e6b1 ;
$el-var-goblet-square-full:\e6b2 ;
$el-var-goblet-square:\e6b3 ;
$el-var-goblet-full:\e6b4 ;
$el-var-goblet:\e6b5 ;
$el-var-cold-drink:\e6b6 ;
$el-var-coffee-cup:\e6b8 ;
$el-var-water-cup:\e6b9 ;
$el-var-hot-water:\e6ba ;
$el-var-ice-cream:\e6bb ;
$el-var-dessert:\e6bc ;
$el-var-sugar:\e6bd ;
$el-var-tableware:\e6be ;
$el-var-burger:\e6bf ;
$el-var-knife-fork:\e6c1 ;
$el-var-fork-spoon:\e6c2 ;
$el-var-chicken:\e6c3 ;
$el-var-food:\e6c4 ;
$el-var-dish-1:\e6c5 ;
$el-var-dish:\e6c6 ;
$el-var-moon-night:\e6ee ;
$el-var-moon:\e6f0 ;
$el-var-cloudy-and-sunny:\e6f1 ;
$el-var-partly-cloudy:\e6f2 ;
$el-var-cloudy:\e6f3 ;
$el-var-sunny:\e6f6 ;
$el-var-sunset:\e6f7 ;
$el-var-sunrise-1:\e6f8 ;
$el-var-sunrise:\e6f9 ;
$el-var-heavy-rain:\e6fa ;
$el-var-lightning:\e6fb ;
$el-var-light-rain:\e6fc ;
$el-var-wind-power:\e6fd ;
$el-var-baseball:\e712 ;
$el-var-soccer:\e713 ;
$el-var-football:\e715 ;
$el-var-basketball:\e716 ;
$el-var-ship:\e73f ;
$el-var-truck:\e740 ;
$el-var-fa-bicycle:\e741 ;
$el-var-mobile-phone:\e6d3 ;
$el-var-service:\e6d4 ;
$el-var-fa-key:\e6e2 ;
$el-var-unlock:\e6e4 ;
$el-var-lock:\e6e5 ;
$el-var-watch:\e6fe ;
$el-var-watch-1:\e6ff ;
$el-var-timer:\e702 ;
$el-var-alarm-clock:\e703 ;
$el-var-map-location:\e704 ;
$el-var-delete-location:\e705 ;
$el-var-add-location:\e706 ;
$el-var-location-information:\e707 ;
$el-var-location-outline:\e708 ;
$el-var-location:\e79e ;
$el-var-place:\e709 ;
$el-var-discover:\e70a ;
$el-var-first-aid-kit:\e70b ;
$el-var-trophy-1:\e70c ;
$el-var-trophy:\e70d ;
$el-var-medal:\e70e ;
$el-var-medal-1:\e70f ;
$el-var-stopwatch:\e710 ;
$el-var-mic:\e711 ;
$el-var-copy-document:\e718 ;
$el-var-full-screen:\e719 ;
$el-var-switch-button:\e71b ;
$el-var-aim:\e71c ;
$el-var-crop:\e71d ;
$el-var-odometer:\e71e ;
$el-var-time:\e71f ;
$el-var-bangzhu:\e724 ;
$el-var-close-notification:\e726 ;
$el-var-microphone:\e727 ;
$el-var-turn-off-microphone:\e728 ;
$el-var-position:\e729 ;
$el-var-postcard:\e72a ;
$el-var-message:\e72b ;
$el-var-chat-line-square:\e72d ;
$el-var-chat-dot-square:\e72e ;
$el-var-chat-dot-round:\e72f ;
$el-var-chat-square:\e730 ;
$el-var-chat-line-round:\e731 ;
$el-var-chat-round:\e732 ;
$el-var-set-up:\e733 ;
$el-var-turn-off:\e734 ;
$el-var-open:\e735 ;
$el-var-connection:\e736 ;
$el-var-link:\e737 ;
$el-var-cpu:\e738 ;
$el-var-thumb:\e739 ;
$el-var-fa-female:\e73a ;
$el-var-fa-male:\e73b ;
$el-var-guide:\e73c ;
$el-var-news:\e73e ;
$el-var-price-tag:\e744 ;
$el-var-discount:\e745 ;
$el-var-wallet:\e747 ;
$el-var-coin:\e748 ;
$el-var-money:\e749 ;
$el-var-bank-card:\e74a ;
$el-var-box:\e74b ;
$el-var-present:\e74c ;
$el-var-sell:\e6d5 ;
$el-var-sold-out:\e6d6 ;
$el-var-shopping-bag-2:\e74d ;
$el-var-shopping-bag-1:\e74e ;
$el-var-shopping-cart-2:\e74f ;
$el-var-shopping-cart-1:\e750 ;
$el-var-shopping-cart-full:\e751 ;
$el-var-smoking:\e752 ;
$el-var-no-smoking:\e753 ;
$el-var-house:\e754 ;
$el-var-table-lamp:\e755 ;
$el-var-school:\e756 ;
$el-var-office-building:\e757 ;
$el-var-toilet-paper:\e758 ;
$el-var-notebook-2:\e759 ;
$el-var-notebook-1:\e75a ;
$el-var-files:\e75b ;
$el-var-collection:\e75c ;
$el-var-receiving:\e75d ;
$el-var-suitcase-1:\e760 ;
$el-var-fa-suitcase:\e761 ;
$el-var-fa-film:\e763 ;
$el-var-collection-tag:\e765 ;
$el-var-data-analysis:\e766 ;
$el-var-pie-chart:\e767 ;
$el-var-data-board:\e768 ;
$el-var-data-line:\e76d ;
$el-var-reading:\e769 ;
$el-var-magic-stick:\e76a ;
$el-var-coordinate:\e76b ;
$el-var-fa-mouse:\e76c ;
$el-var-brush:\e76e ;
$el-var-fa-headset:\e76f ;
$el-var-fa-umbrella:\e770 ;
$el-var-scissors:\e771 ;
$el-var-fa-mobile:\e773 ;
$el-var-attract:\e774 ;
$el-var-monitor:\e775 ;
$el-var-fa-search:\e778 ;
$el-var-takeaway-box:\e77a ;
$el-var-paperclip:\e77d ;
$el-var-printer:\e77e ;
$el-var-document-add:\e782 ;
$el-var-document:\e785 ;
$el-var-document-checked:\e786 ;
$el-var-document-copy:\e787 ;
$el-var-document-delete:\e788 ;
$el-var-document-remove:\e789 ;
$el-var-tickets:\e78b ;
$el-var-folder-checked:\e77f ;
$el-var-folder-delete:\e780 ;
$el-var-folder-remove:\e781 ;
$el-var-folder-add:\e783 ;
$el-var-folder-opened:\e784 ;
$el-var-folder:\e78a ;
$el-var-edit-outline:\e764 ;
$el-var-edit:\e78c ;
$el-var-date:\e78e ;
$el-var-c-scale-to-original:\e7c6 ;
$el-var-view:\e6ce ;
$el-var-loading:\e6cf ;
$el-var-rank:\e6d1 ;
$el-var-fa-sort-down:\e7c4 ;
$el-var-fa-sort-up:\e7c5 ;
$el-var-fa-sort:\e6d2 ;
$el-var-finished:\e6cd ;
$el-var-refresh-left:\e6c7 ;
$el-var-refresh-right:\e6c8 ;
$el-var-refresh:\e6d0 ;
$el-var-video-play:\e7c0 ;
$el-var-video-pause:\e7c1 ;
$el-var-d-arrow-right:\e6dc ;
$el-var-d-arrow-left:\e6dd ;
$el-var-arrow-up:\e6e1 ;
$el-var-arrow-down:\e6df ;
$el-var-arrow-right:\e6e0 ;
$el-var-arrow-left:\e6de ;
$el-var-top-right:\e6e7 ;
$el-var-top-left:\e6e8 ;
$el-var-top:\e6e6 ;
$el-var-bottom:\e6eb ;
$el-var-right:\e6e9 ;
$el-var-back:\e6ea ;
$el-var-bottom-right:\e6ec ;
$el-var-bottom-left:\e6ed ;
$el-var-caret-top:\e78f ;
$el-var-caret-bottom:\e790 ;
$el-var-caret-right:\e791 ;
$el-var-caret-left:\e792 ;
$el-var-d-caret:\e79a ;
$el-var-share:\e793 ;
$el-var-menu:\e798 ;
$el-var-s-grid:\e7a6 ;
$el-var-s-check:\e7a7 ;
$el-var-s-data:\e7a8 ;
$el-var-s-opportunity:\e7aa ;
$el-var-s-custom:\e7ab ;
$el-var-s-claim:\e7ad ;
$el-var-s-finance:\e7ae ;
$el-var-s-comment:\e7af ;
$el-var-s-flag:\e7b0 ;
$el-var-s-marketing:\e7b1 ;
$el-var-s-shop:\e7b4 ;
$el-var-s-open:\e7b5 ;
$el-var-s-management:\e7b6 ;
$el-var-s-ticket:\e7b7 ;
$el-var-s-release:\e7b8 ;
$el-var-s-home:\e7b9 ;
$el-var-s-promotion:\e7ba ;
$el-var-s-operation:\e7bb ;
$el-var-s-unfold:\e7bc ;
$el-var-s-fold:\e7a9 ;
$el-var-s-platform:\e7bd ;
$el-var-s-order:\e7be ;
$el-var-s-cooperation:\e7bf ;
$el-var-bell:\e725 ;
$el-var-message-solid:\e799 ;
$el-var-video-camera:\e772 ;
$el-var-video-camera-solid:\e796 ;
$el-var-camera:\e779 ;
$el-var-camera-solid:\e79b ;
$el-var-download:\e77c ;
$el-var-upload2:\e77b ;
$el-var-upload:\e7c3 ;
$el-var-picture-outline-round:\e75f ;
$el-var-picture-outline:\e75e ;
$el-var-picture:\e79f ;
$el-var-close:\e6db ;
$el-var-check:\e6da ;
$el-var-plus:\e6d9 ;
$el-var-minus:\e6d8 ;
$el-var-help:\e73d ;
$el-var-s-help:\e7b3 ;
$el-var-circle-close:\e78d ;
$el-var-circle-check:\e720 ;
$el-var-circle-plus-outline:\e723 ;
$el-var-remove-outline:\e722 ;
$el-var-zoom-out:\e776 ;
$el-var-zoom-in:\e777 ;
$el-var-error:\e79d ;
$el-var-success:\e79c ;
$el-var-circle-plus:\e7a0 ;
$el-var-remove:\e7a2 ;
$el-var-info:\e7a1 ;
$el-var-question:\e7a4 ;
$el-var-warning-outline:\e6c9 ;
$el-var-warning:\e7a3 ;
$el-var-goods:\e7c2 ;
$el-var-s-goods:\e7b2 ;
$el-var-star-off:\e717 ;
$el-var-star-on:\e797 ;
$el-var-more-outline:\e6cc ;
$el-var-more:\e794 ;
$el-var-phone-outline:\e6cb ;
$el-var-phone:\e795 ;
$el-var-user:\e6e3 ;
$el-var-user-solid:\e7a5 ;
$el-var-setting:\e6ca ;
$el-var-s-tools:\e7ac ;
$el-var-delete:\e6d7 ;
$el-var-delete-solid:\e7c9 ;
$el-var-eleme:\e7c7 ;
$el-var-platform-eleme:\e7ca;
